/* Custom CSS */




/* Start Nav Bar Overrides */

	.logo-container {
		
		text-align: center;
		
	}
	.navbar-left {
		
		display: flex;
		float: none;
		height: auto;
		padding: 0px;
		margin: 0 !important;
		padding-left: 20px;

	}

	.navbar-right {
		
		display: flex;
		float: none;
		height: auto;
		margin: 0!important;
		padding-top: 60px;
		padding-right: 10px;

	}
	.navbar-brand {
		
		display: flex;
		float: none;
		height: auto;
		padding: 0px;
		margin: 0 !important;
		
	}
	
	.navbar-brand img {
		
		margin: 0px auto 0;
	<!--	width: 150px; -->
		
	}
	
	.navbar-nav {
		
		display: block;
		float: none;
		text-align: center;
		
	}
	
	.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
		
		color: #222222;
		
	}

	.navbar-nav > li {
	
		display: inline-block;
		float: none;
		vertical-align: middle;
	
	}

	.navbar-nav > li
	
	header .header-content .header-content-inner {
		
		padding-top: 20px;
		
	}


/* End Nav Bar Overrides */


.padding-top {
  padding-top: 40px;
}

.services-padding-top {
  padding-top: 60px;
}

